.ask-question{
    min-height: 100vh;
    background-color: #f1f2f3;   
}

.ask-ques-container{
    margin: auto;
    max-width: 1200px;
}

.ask-ques-container h1{
    padding: 80px 0px 20px 0px;   
}

.ask-ques-container form .ask-form-container{
    padding: 20px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%),
     0 20px 48px rgb(0 0 0 / 5%),
     0 1px 4px rgb(0 0 0 / 10%);
}

.ask-form-container label h4{
    margin-bottom: 0%;
}

.ask-form-container label p{
    margin: 0%;
    font-size: 13px;
    padding: 3px 0px;
}

.ask-form-container label input , .ask-form-container label textarea {
    padding: 10px;
    border: solid 1px #0000003e;
    font-family: 'Roboto' ,sans-serif;
    width: calc(100% - 20px);
    resize: vertical;
}

.review-btn{
    margin: 50px 0px;
    padding: 10px;
    background-color: #009dff;
    border: solid 1px #009dff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.review-btn :hover{
    background-color: #0086d8;
}

/* Styles for phones */
@media only screen and (max-width: 767px) {
    .ask-form-container label h4 {
        font-size: 11px;
    }
    .ask-form-container label p {
        font-size: 10px;
    }
    .ask-form-container label input, .ask-form-container label textarea {
        padding: 8px;
        font-size: 10px;
    }
    .review-btn {
        margin: 30px 0px;
        padding: 8px;
        font-size: 16px;
    }
}

/* Styles for tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .ask-form-container label h4 {
        font-size: 24px;
    }
    .ask-form-container label p {
        font-size: 14px;
    }
    .ask-form-container label input, .ask-form-container label textarea {
        padding: 12px;
        font-size: 16px;
    }
    .review-btn {
        margin: 40px 0px;
        padding: 12px;
        font-size: 18px;
    }
}

/* Styles for larger screens */
@media only screen and (min-width: 1024px) {
    .ask-form-container label h4 {
        font-size: 28px;
    }
    .ask-form-container label p {
        font-size: 16px;
    }
    .ask-form-container label input, .ask-form-container label textarea {
        padding: 14px;
        font-size: 18px;
    }
    .review-btn {
        margin: 50px 0px;
        padding: 14px;
        font-size: 20px;
    }
}

